 <footer class="footer py-md-5 pt-md-3 pb-sm-5">
        <div class="container-fluid">
            <div class="row p-sm-4 px-3 py-5">
                <div class="col-lg-4 col-md-6 footer-top mt-md-0 mt-sm-5">
                    <h2>
                    <a class="navbar-brand" href="index.html">
                        <span style="color:#8BC34A">Ü</span><span style="color:#FFA500">S</span><span style="color:#00BFFF">K</span><span style="color:#FFA500">Ü</span><span style="color:#00BFFF">D</span><span style="color:#FFA500">A</span><span style="color:#00BFFF">R</span>
                        <span style="color:#FFA500">F</span><span style="color:#00BFFF">A</span><span style="color:#FFA500">B</span><span style="color:#00BFFF">L</span><span style="color:#FFA500">A</span><span style="color:#00BFFF">B</span>
                    </a>
                    </h2>
                    <p class="my-3 text-white">Üsküdar Belediyesi Bilim Merkezi</p>
                    <p class="text-white">
                        Bilim Merkezi
                    </p>
                </div>
                <div class="col-lg-2  col-md-6 mt-md-0 mt-5">
                    <div class=".footerv2-w3ls">
                        <h3 class="mb-3 w3f_title">Kısayollar</h3>
                        <hr>
                        <ul class="list-w3pvtits">
                            <li>
                                <a href="index.html">
                                    Ana Satfa
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="#about" class="scroll">
                                   Hakkımızda
                                </a>
                            </li>
                           
                            <li class="mb-2">
                                <a href="#services" class="scroll">
                                    Hizmetlerimiz
                                </a>
                            </li>
                            <li>
                                <a href="#contact" class="scroll">
                                    İletişim
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
               
                <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                    <div class="footerv2-w3ls">
                        <h3 class="mb-3 w3f_title">Bizimle İletişime Geçin</h3>
                        <hr>
                        <div class="fv3-contact">
                            <p>
                                <a href="mailto:example@email.com">info@example.com</a>
                            </p>
                        </div>
                        <div class="fv3-contact my-2">
                            <p>+456 123 7890</p>
                        </div>
                        <div class="fv3-contact">
                            <p>+90 nsequursu dsdesdc,
                                <br>xxx Street State 34789.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- //footer bottom -->
    </footer>
    <div class="cpy-right">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="wthree-social">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="fa fa-facebook-f icon_facebook"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-twitter icon_twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-dribbble icon_dribbble"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-google-plus icon_g_plus"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 text-lg-right mt-lg-0 mt-4">
                    <p>© @DateTime.Now.Year Üskdüdar Belediyesi Bilim Merkezi. All rights reserved | Design by
                        <a href="http://w3layouts.com"> W3layouts.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
