  <!-- banner -->
<link rel="stylesheet" href="path_to_your_css/responsiveslides.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="path_to_your_js/responsiveslides.min.js"></script>

    <div id="home" class="position-relative">
        <div class="header-main">
            <div class="d-sm-flex justify-content-between">
                <h1>
                    <a class="navbar-brand" href="index.html">
                        <span style="color:#8BC34A">Ü</span><span style="color:#FFA500">S</span><span style="color:#00BFFF">K</span><span style="color:#FFA500">Ü</span><span style="color:#00BFFF">D</span><span style="color:#FFA500">A</span><span style="color:#00BFFF">R</span>
                    <span style="color:#FFA500">F</span><span style="color:#00BFFF">A</span><span style="color:#FFA500">B</span><span style="color:#00BFFF">L</span><span style="color:#FFA500">A</span><span style="color:#00BFFF">B</span>
                    </a>
                </h1>
                <div class="hearder-right-w3_pvt d-flex justify-content-sm-end align-items-center  mt-sm-0 mt-4">
                    <ul class="d-flex header-w3_pvt">
                        <li><button type="button" class="btn w3ls-btn d-block" data-toggle="modal" aria-pressed="false"
                                data-target="#exampleModal1">
                                <span class="fa fa-sign-in"></span>Kayıt Ol
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn w3ls-btn btn-2  d-block" data-toggle="modal" aria-pressed="false"
                                data-target="#exampleModal">
                                <span class="fa fa-lock"></span> Giriş Yap
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="callbacks_container">
        <ul class="rslides" id="slider3">
            <li class="slider-img">
                <div class="container-fluid px-0">
                    <div class="row">
                        <div class="col-3 col-sm-6 px-0 bg-theme1 banner-left-grid">
                            <div class="banner-text h-100">
                            </div>
                        </div>
                        <div class="col-9 col-sm-6 banner banner1 banner-text">
                        </div>
                        <div class="slider-info">
                            <span class="line">Ders Kayıt Sistemi</span>
                            <h3>Faliyetler <span>Zihni</span> Geliştirir</h3>
                            <p class="text-white">Çocuklarımız için en iyi tercih. </p>
                            <a class="btn bg-theme mt-4 w3_pvt-link-bnr scroll" href="#about" role="button">Daha Fazla Bilgi İçin</a>
                        </div>
                    </div>
                </div>
            </li>
           
        </ul>
    </div>
    <!-- //banner -->